{% extends 'layout.html' %}
{% block content %}
    <h1 style="padding: 30px;" class="display-5">Add Plant</h1>
    <div class="container">
    <div class="d-flex justify-content-center align-items-center container">
    <form method="POST" action="" enctype="multipart/form-data" style="padding: 5px; margin-bottom: 30px;">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.name(class="form-control form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.location.label(class="form-control-label") }}
            {% if form.location.errors %}
                {{ form.location(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.location.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.location(class="form-control form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.image.label(class="form-control-label") }}
            {% if form.image.errors %}
                {{ form.image(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.image.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.image(class="form-control form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.watering_frequency.label(class="form-control-label") }}
            {% if form.watering_frequency.errors %}
                {{ form.watering_frequency(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.watering_frequency.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.watering_frequency(class="form-control form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-light btn-sm") }}
        </div>
    </form>
    </div>
    </div>
{% endblock %}
